body {
  font-size: 14pt;
  margin: 0px;
  padding: 0px;
  font-family: Helvetica;
  background-color: #FEFFDE;
}

h1 {
  font-size: 40pt;
}

h2 {
  font-size: 30pt;
}

h3 {
  font-size: 25pt;
}

img {
  border-radius: 100%;
  width: 300px;
  height: 300px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
}


.div-settings {
  background-color: #000000;
  grid-column: span 12;
}

.div-header {
  color: #2c4c3b;
  background-color: #FEFFDE;
  grid-column: span 12;
  text-align: center;
  border-bottom: 1px dashed #ffffff;
  margin: 50px;
}

.div-nav {
  text-align: center;
  color: #FEFFDE;
  background-color: #2c4c3b;
  grid-column: span 12;
}

.div-title {
  color: #2d2d2d;
  background-color: #f9f9f9;
  grid-column: span 12;
  text-align: center;
}

.div-info {
  background-color: #f9f9f9;
  color: #2d2d2d;
  font-size: 15pt;
  grid-column: 4 / 10;
}

.div-menu {
  background-color: #f9f9f9;
  grid-column: 4 / 10;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.first-link {
  grid-column: 0 / 1;
}

.second-link {
  grid-column: 2 / 3;
}

.third-link {
  grid-column: 3 / 4;
}

.fourth-link {
  grid-column: 4 / 5;
}

.fifth-link {
  grid-column: 5 / 6;
}

.div-footer {
  color: white;
  background-color: #000000;
  grid-column: span 12;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

p.text-description {
  text-justify: inter-word;
  line-height: 1.5;
  padding: 0px 50px 20px 50px;
}

ul li {
  display: inline;
}

a.link {
  position: relative;
  top: -20px;
  height: 100px;
  width: 100px;
  font-size: 1rem;
  float: left;
  padding: 5px;
  margin: 5px;
  background-color: #000000;
  border: 1px solid #FEFFDE;
  color: #FEFFDE;
  cursor: pointer;
  text-decoration: none;
}

a.link:hover {
  font-size: 1rem;
  text-decoration: none;
  background-color: #FEFFDE;
  color: black;
  border: 1px solid #000000;
}

button.style {
  font-size: 1rem;
  float: right;
  padding: 5px;
  margin: 5px;
  background-color: #000000;
  border: 1px solid #FEFFDE;
  color: #FEFFDE;
  cursor: pointer;
}

button.style:hover {
  font-size: 1rem;
  background-color: #FEFFDE;
  color: black;
  border: 1px solid #000000;
}

.search-box {
  float: right;
}

img.icon {
  display: inline;
  float: right;
  height: 50px;
  width: 50px;
}