*, *::after, *::before {
  box-sizing: border-box;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-size: 10pt;
  margin: 0px;
  padding: 0px;
  font-family: Helvetica;
  background-color: #749F82;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 2rem;
}

img {
  border-radius: 100%;
  width: 300px;
  height: 300px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
}

.div-settings {
  background-color: #000000;
  grid-column: span 12;
}

.div-header {
  color: #FEFFDE;
  background-image: linear-gradient(-35deg, #749F82, #FEFFDE);
  grid-column: span 12;
  text-align: center;
  padding: 50px;
}

.div-nav {
  text-align: center;
  color: #FEFFDE;
  background-color: #2c4c3b;
  grid-column: span 12;
  padding: 40px;
}

.div-title {
  color: #2d2d2d;
  background-color: #FEFFDE;
  grid-column: span 12;
  text-align: center;
  padding: 40px;
}

.div-info {
  background-color: #FEFFDE;
  color: #000000;
  font-size: 1rem;
  grid-column: 4 / 10;
  text-justify: inter-word;
  text-align-last: justify;
  box-shadow: 0px 50px 15px 1px #000000;
}

.div-menu {
  font-size: 1rem;
  background-color: #f9f9f9;
  grid-column: 4 / 10;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.div-footer {
  height: 10vh;
  color: white;
  background-color: #000000;
  grid-column: span 12;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

p.text-description {
  text-justify: inter-word;
  text-align-last: justify;
  line-height: 1.5;
  padding: 0px 50px 20px 50px;
}

ul li {
  display: inline;
}

a.link {
  text-align: center;
  height: 10vh;
  line-height: 10vh;
  width: 8vw;
  margin-right: 10px;
  font-size: 1rem;
  float: left;
  background-color: #000000;
  color: #FEFFDE;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
}

a.link:hover {
  font-size: 1rem;
  text-decoration: none;
  background-color: #000000;
  border-bottom: 10px solid #FEFFDE;
  color: #FEFFDE;
}

.search-box {
  float: right;
}